@import "tailwindcss";

@theme {
    /* Light Theme */
    --color-surface: var(--color-white);
    --color-surface-alt: var(--color-slate-100);
    --color-on-surface: var(--color-slate-700);
    --color-on-surface-strong: var(--color-black);
    --color-primary: var(--color-blue-700);
    --color-on-primary: var(--color-slate-100);
    --color-secondary: var(--color-indigo-700);
    --color-on-secondary: var(--color-slate-100);
    --color-outline: var(--color-slate-300);
    --color-outline-strong: var(--color-slate-800);

    /* Dark Theme */
    --color-surface-dark: var(--color-slate-900);
    --color-surface-dark-alt: var(--color-slate-800);
    --color-on-surface-dark: var(--color-slate-300);
    --color-on-surface-dark-strong: var(--color-white);
    --color-primary-dark: var(--color-blue-600);
    --color-on-primary-dark: var(--color-slate-100);
    --color-secondary-dark: var(--color-indigo-600);
    --color-on-secondary-dark: var(--color-slate-100);
    --color-outline-dark: var(--color-slate-700);
    --color-outline-dark-strong: var(--color-slate-300);

    /* Shared Colors */
    --color-info: var(--color-sky-600);
    --color-on-info: var(--color-white);
    --color-success: var(--color-green-600);
    --color-on-success: var(--color-white);
    --color-warning: var(--color-amber-500);
    --color-on-warning: var(--color-white);
    --color-danger: var(--color-red-600);
    --color-on-danger: var(--color-white);

    /* Border Radius */
    --radius-radius: var(--radius-sm);
}

@layer base {
    /* For Firefox browser */
    /* * {
        scrollbar-width: thin;
        scrollbar-color: var(--color-outline) var(--color-surface);
        @variant dark {
            scrollbar-color: var(--color-outline-dark) var(--color-surface-dark);
        }
    } */
    /* For WebKit browsers (Chrome, Safari, Edge) */
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
    ::-webkit-scrollbar-track {
        background: 0 0;
    }
    ::-webkit-scrollbar-thumb {
        background-color: var(--color-outline);
        @variant dark {
            background-color: var(--color-outline-dark);
        }
        border-radius: 3px;
    }

}