{% extends "main/base.html" %}

{% block title %}FORMS{% endblock title %}

{% block body %}
    <div class="container mx-auto">
        <div class="flex">

            <div class="flex-1 p-3 border-r border-outline dark:border-outline-dark">
                <form action="." method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" value="submit">Подтвердить</button>
                </form>
            </div>

            {% comment %} <div class="flex-1 p-3">
                <form action="." method="POST">
                    {% csrf_token %}
                    {% for error in form.non_field_errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                    {% for field in form.visible_fields %}
                        <div class="flex flex-col">
                            <label for="{{ field.id_for_label }}">{{ field.label }}{% if field.field.required %}*{% endif %}{{ form.label_suffix }}</label>
                            <div id="{{ field.id_for_label }}_helptext">{{ field.help_text }}</div>
                            <div id="{{ field.id_for_label }}_error">
                                {% for error in field.errors %}
                                    <div>{{ error }}</div>
                                {% endfor %}   
                            </div>
                            <div>{{ field.as_widget }}</div>
                        </div>
                    {% endfor %}
                    {% for field in form.hidden_fields %}
                        {{ field.as_widget }}
                    {% endfor %}
                    <button type="submit" value="submit">Подтвердить</button>
                </form>
                </div> {% endcomment %}
                
            </div>
            <hr>
            
            {% load form_tags %}
            
            
        {% with form=my_form %}
        <form>
            <div style="max-width: 500px;" class="mx-auto my-5 p-5 space-y-3 border rounded-2xl border-outline dark:border-outline-dark bg-surface-alt dark:bg-surface-dark-alt">
                <div>
                    {% csrf_token %}
                    {% for field in form.hidden_fields %}
                        {{ field.as_widget }}
                    {% endfor %}

                    {% for error in form.non_field_errors %}
                        <div class="flex w-full items-center gap-2 bg-danger/20 p-2 my-2 rounded-lg border border-danger" role="alert">
                            <div class="bg-danger/25 text-danger rounded-full p-1" aria-hidden="true">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-6" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16ZM8.28 7.22a.75.75 0 0 0-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 1 0 1.06 1.06L10 11.06l1.72 1.72a.75.75 0 1 0 1.06-1.06L11.06 10l1.72-1.72a.75.75 0 0 0-1.06-1.06L10 8.94 8.28 7.22Z" clip-rule="evenodd" />
                                </svg>
                            </div>
                            <div class="ml-2">
                                <p class="text-xs font-medium sm:text-sm">{{ error }}</p>
                            </div>
                        </div>
                    {% endfor %}

                    {% for field in form.visible_fields %}
                        <div class="mt-3">

                            {% if field.field.widget|klass == 'CheckboxInput' %}
                                <label for="{{ field.id_for_label }}" class="flex items-center gap-2 font-medium has-disabled:cursor-not-allowed has-disabled:opacity-75">
                                    <span class="relative flex items-center">
                                        {{ field|add_class:"before:content[''] peer relative size-4 appearance-none overflow-hidden rounded-sm border border-outline bg-surface-alt before:absolute before:inset-0 checked:border-primary checked:before:bg-primary focus:outline-2 focus:outline-offset-2 focus:outline-outline-strong checked:focus:outline-primary active:outline-offset-0 disabled:cursor-not-allowed dark:border-outline-dark dark:bg-surface-dark-alt dark:checked:border-primary-dark dark:checked:before:bg-primary-dark dark:focus:outline-outline-dark-strong dark:checked:focus:outline-primary-dark" }}
                                        {% comment %} <input id="{{ field.html_name }}" type="checkbox" class="before:content[''] peer relative size-4 appearance-none overflow-hidden rounded-sm border border-outline bg-surface-alt before:absolute before:inset-0 checked:border-primary checked:before:bg-primary focus:outline-2 focus:outline-offset-2 focus:outline-outline-strong checked:focus:outline-primary active:outline-offset-0 disabled:cursor-not-allowed dark:border-outline-dark dark:bg-surface-dark-alt dark:checked:border-primary-dark dark:checked:before:bg-primary-dark dark:focus:outline-outline-dark-strong dark:checked:focus:outline-primary-dark" checked/> {% endcomment %}
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" stroke="currentColor" fill="none" stroke-width="4" class="pointer-events-none invisible absolute left-1/2 top-1/2 size-3 -translate-x-1/2 -translate-y-1/2 text-on-primary peer-checked:visible dark:text-on-primary-dark">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5"/>
                                        </svg>
                                    </span>
                                    <span>{{ field.label }}{% if field.field.required %}*{% endif %}</span>
                                </label>

                            {% elif field.field.widget|klass == 'RadioSelect' %}
                                <fieldset>
                                    <legend class="block font-medium">
                                        {{ field.label }}{% if field.field.required %}*{% endif %}
                                    </legend>
                                    {% for radio in field %}
                                        <div class="flex items-center justify-start gap-2 text-on-surface has-disabled:opacity-75 dark:text-on-surface-dark">
                                            <input id="{{ radio.id_for_label }}" type="radio" class="before:content[''] relative h-4 w-4 appearance-none rounded-full border border-outline bg-surface-alt before:invisible before:absolute before:left-1/2 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-x-1/2 before:-translate-y-1/2 before:rounded-full before:bg-on-primary checked:border-primary checked:bg-primary checked:before:visible focus:outline-2 focus:outline-offset-2 focus:outline-outline-strong checked:focus:outline-primary disabled:cursor-not-allowed dark:border-outline-dark dark:bg-surface-dark-alt dark:before:bg-on-primary-dark dark:checked:border-primary-dark dark:checked:bg-primary-dark dark:focus:outline-outline-dark-strong dark:checked:focus:outline-primary-dark" name="{{ field.html_name }}" value="{{ radio.data.value }}" {{ radio.data.selected|yesno:"checked," }}>
                                            <label for="{{ radio.id_for_label }}" class="">{{ radio.choice_label }} ({{ radio|klass }} - {{ radio.data.selected }})</label>
                                        </div>
                                    {% endfor %}
                                </fieldset>

                            {% elif field.field.widget|klass == 'Select' %}
                                <label for="{{ field.id_for_label }}" class="block font-medium">
                                    {{ field.label }}{% if field.field.required %}*{% endif %}
                                </label>
                                <div class="relative">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="absolute pointer-events-none right-2 top-2 size-5">
                                        <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                                    </svg>
                                    {{ field|add_class:"w-full appearance-none rounded-radius border border-outline bg-surface-alt px-2 py-1 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary disabled:cursor-not-allowed disabled:opacity-75 dark:border-outline-dark dark:bg-surface-dark-alt dark:focus-visible:outline-primary-dark" }}
                                </div>

                            {% elif field.field.widget|klass == 'Textarea' %}
                                <label for="{{ field.id_for_label }}" class="block mb-1 font-medium">
                                    {{ field.label }}{% if field.field.required %}*{% endif %}
                                </label>
                                {{ field|add_class:"scroll-on resize-none w-full rounded-radius border border-outline bg-surface-alt px-2.5 py-2 text-sm focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary disabled:cursor-not-allowed disabled:opacity-75 dark:border-outline-dark dark:bg-surface-dark-alt/50 dark:focus-visible:outline-primary-dark" }}
    
                            {% else %}
                                <label for="{{ field.id_for_label }}" class="block mb-1 font-medium">
                                    {{ field.label }}{% if field.field.required %}*{% endif %}{% comment %} {{ form.label_suffix }} {% endcomment %}
                                </label>                    
                                {{ field|add_class:"w-full rounded-radius border border-outline bg-surface-alt px-2 py-2 text-sm focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary disabled:cursor-not-allowed disabled:opacity-75 dark:border-outline-dark dark:bg-surface-dark-alt/50 dark:focus-visible:outline-primary-dark" }}
                            {% endif %}

                            {% if field.errors %}
                                <div id="{{ field.id_for_label }}_error" class="px-2 py-1 mt-1 text-sm rounded-sm bg-danger/20 border border-danger">
                                    {% for error in field.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}

                            {% if field.help_text %}
                                <p id="{{ field.id_for_label }}_helptext" class="mt-1 text-sm text-on-surface/50 dark:text-on-surface-dark/50">{{ field.help_text }}</p>
                            {% endif %}

                        </div>
                    {% endfor %} 
                </div>
                <button type="button" class="whitespace-nowrap rounded-radius bg-primary border border-primary px-4 py-2 text-sm font-medium tracking-wide text-on-primary transition hover:opacity-75 text-center focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary active:opacity-100 active:outline-offset-0 disabled:opacity-75 disabled:cursor-not-allowed dark:bg-primary-dark dark:border-primary-dark dark:text-on-primary-dark dark:focus-visible:outline-primary-dark">Primary</button>
            </div>
        </form>
        {% endwith %}

    </div>
{% endblock body %}